<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="{{constant('__BOOTSTRAP__')}}/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="{{constant('__BOOTSTRAP__')}}/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="{{constant('__STATIC__')}}/css/cover.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="{{constant('__BOOTSTRAP__')}}/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body>


{% block head%}
{% endblock %}


<div class="site-wrapper">
    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">DollarPHP</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">GitHub</a></li>
                            <li><a href="#">About Me</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">DollarPHP</h1>
                <p class="lead">A PHP FRAMEWORK FOR MY CAT</p><p class="lead">
                <a href="#" class="btn btn-lg btn-default">Learn more</a>
            </p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>橙橙同学 <a href="http://getbootstrap.com">DollarPHP</a>
                </div>
            </div>

        </div>

    </div>

</div>

</body>
</html>